
.textarea{
    padding: 0.5rem;
    text-size-adjust: 3rem;
    outline: none;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
    width: 100%;
    height: 250px;
    margin-bottom: 1rem;
}

.lorem1{
    margin: 1rem 0;
}

.btn{
    padding: 0.4rem 1.3rem;
    background-color: black;
    border-radius: 10px;
    outline: none;
    color: whitesmoke;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background-color: whitesmoke;
    color: black;
}

form>:nth-child(2){
    margin-right: 0.5rem;
}