@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$backgroundColor: rgb(46, 48, 48);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    list-style-type: none;
}

body{
    background-color: $backgroundColor;

}

.main{
    margin: 1rem auto;
    width: 85%;
    min-height: 120vh;
    color: whitesmoke;
}

